
@{
    ViewBag.Title = "Loại: Index";
    var errMsg = "";
    WebGrid grip = null;
    try
    {
        grip = new WebGrid(Model, rowsPerPage: 10);

    }
    catch (Exception ex)
    {
        errMsg = "lỗi truy cập dữ liệu. " + ex.Message;
    }
}

<h2>Danh Sách Loại</h2>

<div class="container-fluid">
    <p class="text-right">
        @Html.ActionLink("Thêm Mới","Create")
    </p>
    @if (grip != null)
    {
        int trangHienHanh = grip.PageIndex + 1;
        //đang đứng ở trang bao nhiêu trên tổng số trang
        <p>Trang:@trangHienHanh<text>/</text>@grip.PageCount</p>
        <p>Tổng Số Loại: @grip.TotalRowCount</p>
        @grip.GetHtml(
                tableStyle: " table table-bordered table table-hover",
                headerStyle: "bg-info canh-giua",
                footerStyle: "bg-danger text-center",
                mode:WebGridPagerModes.All,firstText:"Trang Đầu",lastText:"Trang Cuối",nextText:"Trang Kế",previousText:"Trang sau",
                columns: grip.Columns
                (
                     grip.Column("LoaiID", "ID",style:"text-center"),
                     grip.Column("Ten", "Tên Loại", format: item => Html.ActionLink((string)item.Ten, "Details", new { id = item.LoaiID })),
                     grip.Column("BiDanh", "Bí Danh"),
                     grip.Column("ChungLoai.Ten", "Tên Chủng Loại"),
                     grip.Column(format:item=>Html.ActionLink("Hiệu Chỉnh","Edit",new { id=item.LoaiID})),
                     grip.Column(format:item => Html.ActionLink("Xoá", "Delete", new { id = item.LoaiID }))
                )
        )

    }
        else
        {
        <h4 class="text-danger">@errMsg</h4>
    }

</div>
@section Styles{
    <style>
        .canh-giua>th{text-align:center!important}
    </style>
    }
