@model SanPham

@{
    ViewBag.Title = "Sản Phẩm Chi Tiết";
    Layout = "~/Views/Shared/_DienMayLayout.cshtml";

}

<div class="container">
    <div class="col-md-3">
        @Html.Action("_ChungLoaiMenu2Partial","ChungLoai")
    </div>
    <div class="col-md-9">

        <div class="row" id="productMain">
            <div class="col-sm-6">
                <div id="mainImage">
                    <img src="~/Photos/@Model.Hinh1" alt="" class="img-responsive" style="height:400px">
                </div>

                <div class="ribbon new">
                    <div class="theribbon">NEW</div>
                    <div class="ribbon-background"></div>
                </div>
                <!-- /.ribbon -->

            </div>
            <div class="col-sm-6">
                <div class="box">
                    <h1 class="text-center">@Model.Ten</h1>
                    @*<p class="goToDescription">
                        <a href="#details" class="scroll-to">Scroll to product details, material & care and sizing</a>
                    </p>*@
                    <p class="price">@Model.GiaBan.ToString("#,##0VND")</p>

                    <div class="text-center buttons">
                        @*@using (Html.BeginForm("Them", "GioHang",new { sanPhamID=Model.SanPhamID }, FormMethod.Post))
                        {
                            @Html.TextBox("soLuong",1)
                            <button class="btn btn-primary" type="submit"><i class="fa fa-shopping-cart">Add to cart</i></button>
                        }*@
                        @Html.Partial("_ChonMuaSLPartial",Model.SanPhamID)
                    </div>


                </div>

                <div class="row" id="thumbs">
                    <div class="col-xs-4">
                        <a href="~/Photos/@Model.Hinh1" class="thumb">
                            <img src="~/Photos/@Model.Hinh1" alt="" class="img-responsive">
                        </a>

                    </div>
                    <div class="col-xs-4">
                        @if (!string.IsNullOrEmpty(Model.Hinh2))
                        {
                        <a href="~/Photos/@Model.Hinh2" class="thumb">
                            <img src="~/Photos/@Model.Hinh2" alt="" class="img-responsive">
                        </a>
                        }
                    </div>
                    <div class="col-xs-4">
                        @if (!string.IsNullOrEmpty(Model.Hinh3))
                        {
                        <a href="~/Photos/@Model.Hinh3" class="thumb">
                            <img src="~/Photos/@Model.Hinh3" alt="" class="img-responsive">
                        </a>
                        }
                    </div>
                </div>
            </div>

        </div>


        <div class="box" id="details">
            <h4>thông tin chi tiết của sản phẩm</h4>
            <h4>nguồn gốc</h4>
            <ul>
                <li>Xuất xứ: @Model.XuatXu</li>
                <li>Nhà sản xuất: @Model.NhaSanXuat.Ten</li>
            </ul>
            <blockquote>
                <p>
                    <em>@Model.MoTa</em>
                </p>
            </blockquote>
          @*  <div class="row same-height-row">
                <div class="col-md-3 col-sm-6">
                    <div class="box same-height">
                        <h3>Một số sản phẩm liên quan</h3>
                    </div>
                </div>

                @foreach (var item in model)
                {
                    <div class="col-md-3 col-sm-6">
                        <div class="product same-height">
                            <div class="flip-container">
                                <div class="flipper">
                                    <div class="front">
                                        <a href="detail.html">
                                            <img src="img/product2.jpg" alt="" class="img-responsive">
                                        </a>
                                    </div>
                                    <div class="back">
                                        <a href="detail.html">
                                            <img src="img/product2_2.jpg" alt="" class="img-responsive">
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <a href="detail.html" class="invisible">
                                <img src="img/product2.jpg" alt="" class="img-responsive">
                            </a>
                            <div class="text">
                                <h3>Fur coat</h3>
                                <p class="price">$143</p>
                            </div>
                        </div>
                         /.product
                    </div>

                }
                </div>*@




    </div>
</div>

