
@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_DienMayLayout.cshtml";
    var dsSanPham = ViewBag.SanPhams as IPagedList<SanPham>;
}

<div class="container">
    <div class="col-md-9">
        <div class="box">
            <h2>@ViewBag.TieuDe</h2>
            <h3>Trang @dsSanPham.PageNumber<text>/</text>@dsSanPham.PageCount</h3>
        </div>
        <div class="text-center">
            @if(TempData["ChungLoaiID"]!= null)
            {
                @Html.PagedListPager(dsSanPham,p=>Url.Action("TraCuuTheoChungLoai",new { id= TempData["ChungLoaiID"], Page=p}))
            }
            else if(TempData["LoaiID"] != null)
            {
                @Html.PagedListPager(dsSanPham,p=> Url.Action("TraCuuTheoLoai", new { id = TempData["LoaiID"], Page = p }))
            }
            else
            {
                @Html.PagedListPager(dsSanPham, p => Url.Action("List", new { Page = p }))
            }
        </div>
        <div class="row products">
            <form id="frmChonMua" method="post"></form>
            @foreach (var item in dsSanPham)
            {
                <div class="col-md-4 col-sm-6">
                    <div class="product">
                        <div class="flip-container">
                            <div class="flipper">
                                <div class="front">
                                    <a href="@Url.Action("ChiTiet",new { id=item.SanPhamID,name=item.BiDanh })">
                                        <img src="~/Photos/@item.Hinh1" alt="" class="img-responsive" style="height:176px;">
                                    </a>
                                </div>
                                <div class="back">
                                    <a href="@Url.Action("ChiTiet",new { id=item.SanPhamID,name=item.BiDanh })">
                                        @if (item.Hinh2 != null)
                                        {
                                            <img src="~/Photos/@item.Hinh2" alt="" class="img-responsive" style="height:176px;">
                                        }
                                        else
                                        {
                                            <img src="~/Photos/@item.Hinh1" alt="" class="img-responsive" style="height:176px;">
                                        }
                                    </a>
                                </div>
                            </div>
                        </div>
                        <a href="@Url.Action("ChiTiet",new { id=item.SanPhamID,name=item.BiDanh })" class="invisible">
                            <img src="~/Photos/@item.Hinh1" alt="" class="img-responsive" style="height:176px;">
                        </a>
                        <div class="text">
                            <h3><a href="@Url.Action("ChiTiet",new { id=item.SanPhamID,name=item.BiDanh })">@item.Ten</a></h3>
                            <p class="price">@item.GiaBan</p>
                            <p class="buttons">
                                @*<a href="@Url.Action("ChiTiet",new { id=item.SanPhamID })" class="btn btn-default">View detail</a>*@
                                @Html.ActionLink("View detail", "ChiTiet", new { id = item.SanPhamID, name = item.BiDanh }, htmlAttributes: new { @class= "btn btn-default" })
                                <button type="submit" class="btn btn-primary" form="frmChonMua" formaction="@Url.Action("Them","GioHang",new { sanPhamID=item.SanPhamID,name=item.BiDanh})"><i class="fa fa-shopping-cart"></i>Add to cart</button>
                            </p>
                        </div>
                        <!-- /.text -->
                    </div>
                    <!-- /.product -->
                </div>
            }
        </div>
    </div>
    <div class="col-md-3">
        @Html.Action("_ChungLoaiMenu2Partial", "ChungLoai")
    </div>

</div>
